@charset "UTF-8";

h2 {
	font-size: 32px;
}

h5 {
	font-size: 14px; color: #79747E; margin-bottom: 32px;
}

.promotion-card {
	margin-bottom: 20px;
}

.promotion-card .card {
    width: 100%;
    height: 350px; /* 고정 높이 */
    overflow: hidden;
    border: none;
    transition: transform 0.3s ease;
}

.promotion-card .card:hover {
    transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
}

.promotion-card .card-img-top {
    width: 100%;
    height: 75%; /* 이미지 높이를 카드의 75%로 설정 */
    object-fit: cover; /* 이미지 전체 채우기 */
}

.promotion-card .card-body {
    height: 25%; /* 본문을 카드의 하단 25%에 배치 */
    background-color: #fff; /* 배경색 */
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    padding: 10px;
}

.promotion-card .card-title {
	font-weight: 700;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.promotion-card .card-title,
.promotion-card .card-text {
    margin: 0;
    color: #333; /* 본문 텍스트 색상 */
}

.promotion-card .card-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageNav .btn {
    background-color: #f8f9fa; /* 버튼 기본 배경색 */
    border: 1px solid #ddd;
    color: #333; /* 기본 아이콘 색상 */
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px; /* 아이콘 크기 */
    font-weight: bold; /* 아이콘을 두껍게 */
    display: flex;
    align-items: center;
}

.pageNav .btn:hover {
    background-color: #333; /* 호버 시 버튼 배경을 어두운 색으로 */
    color: #fff; /* 호버 시 아이콘을 흰색으로 */
}